---
import AgentStrip from '../components/AgentStrip.astro';
import FAQ from '../components/FAQ.astro';
import FeatureGrid from '../components/FeatureGrid.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import PricingLicenseSection from '../components/PricingLicenseSection.astro';
import SharingSection from '../components/SharingSection.astro';
import WorkflowShowcase from '../components/WorkflowShowcase.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <AgentStrip />
    <WorkflowShowcase />
    <FeatureGrid />
    <SharingSection />
    <PricingLicenseSection />
    <FAQ />
  </main>
  <Footer />
</BaseLayout>
